## Fixes:
- sort in absolute value
- Put it in a module / pip / conda
- Add differential expression feature
- Calculate everything in matrices rather than for loops
- When you color cells, what should the max and min expression be? Based on the selected cells or based on all of the cells. Currently it seems to remap based on only the selected cells but this is maybe misleading.

- Pearson R vs. Spearman R?


- Required input values: Pandas vs. numpy




## Installation:
Currently:
conda env create -n py5coding -f http://py5.ixora.io/install/py5_environment.yml
conda install scipy
python setup.py install ## within embedview directory

In [2]:
import pandas as pd
import numpy as np

In [2]:
%load_ext py5
%gui osx

In [3]:
print('DOWNLOADING AND EXTRACTING EXAMPLE DATA')
! mkdir -p ../data
! wget https://storage.googleapis.com/sabeti-public/dkotliar/scnavigator/pbmc3k/data/pbmc3k_umap_20210324.tsv -O ../data/pbmc3k_umap_20210324.tsv
! wget https://storage.googleapis.com/sabeti-public/dkotliar/scnavigator/pbmc3k/data/pbmc3k_expression_log2TP10K_20210324.tsv.gz -O ../data/pbmc3k_expression_log2TP10K_20210324.tsv.gz
! gzip -df ../data/pbmc3k_expression_log2TP10K_20210324.tsv.gz
! ls ../data

DOWNLOADING AND EXTRACTING EXAMPLE DATA
--2021-03-24 19:21:52--  https://storage.googleapis.com/sabeti-public/dkotliar/scnavigator/pbmc3k/data/pbmc3k_umap_20210324.tsv
Resolving storage.googleapis.com (storage.googleapis.com)... 172.217.12.240, 172.217.15.112, 172.217.13.240, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|172.217.12.240|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 96671 (94K) [text/tab-separated-values]
Saving to: ‘../data/pbmc3k_umap_20210324.tsv’

../data/pbmc3k_umap 100%[===================>]  94.41K  --.-KB/s    in 0.06s

2021-03-24 19:21:52 (1.59 MB/s) - ‘../data/pbmc3k_umap_20210324.tsv’ saved [96671/96671]

--2021-03-24 19:21:52--  https://storage.googleapis.com/sabeti-public/dkotliar/scnavigator/pbmc3k/data/pbmc3k_expression_log2TP10K_20210324.tsv.gz
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.73.208, 172.217.15.112, 172.217.13.240, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.73.208|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4475376 (4.3M) [text/tab-separated-values]
Saving to: ‘../data/pbmc3k_expression_log2TP10K_20210324.tsv.gz’

../data/pbmc3k_expr 100%[===================>]   4.27M  8.13MB/s    in 0.5s

2021-03-24 19:21:53 (8.13 MB/s) - ‘../data/pbmc3k_expression_log2TP10K_20210324.tsv.gz’ saved [4475376/4475376]

pbmc3k_expression_log2TP10K_20210324.tsv
pbmc3k_umap_20210324.tsv

In [7]:
print("LOADING UMAP DATA...")

_umap = pd.read_csv('../data/pbmc3k_umap_20210324.tsv', sep='\t', index_col=0)
_umap.head()

LOADING UMAP DATA...

                     UMAP_1     UMAP_2
AAACATACAACCAC-1   9.957389   2.417852
AAACATTGAGCTAC-1   3.407544  12.179294
AAACATTGATCAGC-1  14.298640   2.713249
AAACCGTGCTTCCG-1  -2.864794   5.690310
AAACCGTGTATGCG-1   7.903376  -4.351839

In [11]:
print("LOADING GENE EXPRESSION DATA...")

_expr = pd.read_csv('../data/pbmc3k_expression_log2TP10K_20210324.tsv', sep='\t', index_col=0)
_expr.head()

LOADING GENE EXPRESSION DATA...

,LINC00115,NOC2L,KLHL17,PLEKHN1,HES4,ISG15,AGRN,C1orf159,TNFRSF18,TNFRSF4,...,COL6A2,SPATC1L,LSS,MCM3AP,YBEY,C21orf58,PCNT,DIP2A,S100B,PRMT2
AAACATACAACCAC-1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0000
AAACATTGAGCTAC-1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.681301,0.0,...,0.0,0.0,0.0,0.0,1.158851,0.0,0.0,0.0,0.0,0.0000
AAACATTGATCAGC-1,0.0,0.0,0.0,0.0,0.0,1.446900,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,1.4469
AAACCGTGCTTCCG-1,0.0,0.0,0.0,0.0,0.0,3.620698,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0000
AAACCGTGTATGCG-1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0000

In [12]:
#from umap_explorer import UMAPexplorer
import sys
sys.path.append('../umap_explorer/')
from umap_explorer import UMAPexplorer

test = UMAPexplorer(_umap, _expr)
test.explore_data()

Selected 27 cells
Calculating correlations...

/Users/dylankotliar/miniconda3/envs/py5coding/lib/python3.8/site-packages/scipy/stats/stats.py:3913: PearsonRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(PearsonRConstantInputWarning())

Selected gene FCN1
Min/max expression level for gene FCN1 0.0 3.7794554
Selected 967 cells
Calculating correlations...
Selected gene S100A4
Min/max expression level for gene S100A4 0.0 5.052997
Selected 452 cells
Calculating correlations...
Selected gene RBM41
Min/max expression level for gene RBM41 0.0 2.1271577
Selected 951 cells
Calculating correlations...
Selected gene MALAT1
Min/max expression level for gene MALAT1 3.071751 7.5372734
Selected gene RPL32
Min/max expression level for gene RPL32 0.0 5.756283
Selected gene RPL13
Min/max expression level for gene RPL13 3.3343284 6.4891996
Selected gene RPS6
Min/max expression level for gene RPS6 3.2701943 6.094558
Selected 395 cells
Calculating correlations...
Selected gene FCGR3A
Min/max expression level for gene FCGR3A 0.0 4.251834
Selected 60 cells
Calculating correlations...
Selected 355 cells
Calculating correlations...
Selected gene CD74
Min/max expression level for gene CD74 0.0 5.605316
Selected 398 cells
Calculating correlations...
Selected gene FTL
Min/max expression level for gene FTL 4.4498177 7.106011
Selected gene TMSB4X
Min/max expression level for gene TMSB4X 4.0213394 6.391135
Selected gene S100A8
Min/max expression level for gene S100A8 0.0 5.989248
Selected 379 cells
Calculating correlations...
Selected gene NKG7
Min/max expression level for gene NKG7 0.0 5.97368
Selected gene GZMH
Min/max expression level for gene GZMH 0.0 4.9547353
Selected gene GZMB
Min/max expression level for gene GZMB 0.0 4.6483507
Selected gene GZMH
Min/max expression level for gene GZMH 0.0 4.9547353
Selected gene GZMB
Min/max expression level for gene GZMB 0.0 4.6483507
Selected gene CST7
Min/max expression level for gene CST7 0.0 5.2219067
Selected 1043 cells
Calculating correlations...
Selected gene S100A4
Min/max expression level for gene S100A4 0.0 5.052997
Selected gene S100A11
Min/max expression level for gene S100A11 0.0 4.1696725
Selected gene IL32
Min/max expression level for gene IL32 0.0 5.3391547
Selected gene ANXA1
Min/max expression level for gene ANXA1 0.0 4.640379
Selected 1045 cells
Calculating correlations...
Selected gene MALAT1
Min/max expression level for gene MALAT1 4.2664795 7.5372734

In [7]:
test.significant_genes.head()

             R              P
NKG7 -0.849035   0.000000e+00
CST7 -0.783443   0.000000e+00
GZMA -0.743934  1.619564e-281
GZMB -0.738800  1.166037e-275
PRF1 -0.725407  5.188725e-261

In [8]:
from scipy.stats import pearsonr, spearmanr, ttest_ind

In [9]:
selected = _expr.loc[test.selected_cells['index'], :]
remainder = _expr.loc[~_expr.index.isin(test.selected_cells['index']), :]

In [10]:
A = _expr.iloc[:,:10].values
B = _expr.iloc[:,11].values
print(A.shape, B.shape)

(2638, 10) (2638,)

In [19]:
res = ttest_ind(selected.values, remainder.values, axis=0, equal_var=False, nan_policy='propagate', alternative='two-sided')
res = pd.DataFrame([res.statistic, res.pvalue], columns=_expr.columns, index=['T', 'P']).T

In [20]:
res.loc[test.significant_genes.index, :].head()

                  T             P
CDA      -19.105316  3.239770e-24
ASB8     -18.150373  5.595836e-37
TNFRSF25 -16.968708  1.782821e-50
DCAF8    -16.148441  5.402525e-44
PRR5     -15.726354  9.606228e-47

In [15]:
res = spearmanr(A,B.reshape(-1,1), axis=None)

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 26380 and the array at index 1 has size 2638

In [16]:
A.shape

(2638, 10)

In [24]:
np.corrcoef(A, B)

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 10 and the array at index 1 has size 2638

In [13]:
selected.shape

(33, 1838)

In [14]:
remainder.shape

(2605, 1838)

In [18]:
res.statistic

array([-4.35918297e+00,  2.72819241e-01, -4.04673577e+00, ...,
        1.71800118e-01, -1.31253541e+01, -1.50082618e-03])

In [19]:
res.pvalue

array([9.78690737e-05, 7.86695233e-01, 5.34310250e-05, ...,
       8.64664668e-01, 9.94317294e-37, 9.98811460e-01])

In [9]:
z = _umap.values.copy()

In [6]:
test.significant_genes

                     R             P
LGALS1       -0.776084  4.668194e-07
LGALS3       -0.770768  6.255527e-07
AIF1         -0.760379  1.084620e-06
PCP2         -0.723926  6.138661e-06
URB2         -0.723828  6.165109e-06
...                ...           ...
RP11-432I5.1  0.723548  6.241083e-06
SPRY1         0.723828  6.165200e-06
CDKN2A        0.723898  6.146322e-06
RFPL2         0.723902  6.145310e-06
KLRB1         0.723928  6.138258e-06

[429 rows x 2 columns]

In [7]:
test.selected_cells

               index      proj
0   AAGATTACCGCCTT-1  0.254572
1   AAGCCATGAACTGC-1  0.525927
2   AATGCGTGGACGGA-1  0.118430
3   AATTACGAATTCCT-1  0.195944
4   ACGAGGGACAGGAG-1  0.658741
5   ACGTGATGCCATGA-1  0.330072
6   ACTTAAGATTACTC-1  0.096151
7   AGCACTGATGCTTT-1  0.424344
8   ATACCACTCTAAGC-1  0.184605
9   ATACCGGAATGCTG-1  0.418610
10  ATGTAAACGGGATG-1  0.005927
11  ATTGTAGATTCCCG-1  0.009129
12  CGATCAGATGTGAC-1  0.831659
13  CTCCACGAGAGATA-1  0.304461
14  GAAAGTGAAAGTGA-1  0.502925
15  GAAGGTCTTAAAGG-1  0.437255
16  GACATTCTCCACCT-1  0.368181
17  GCGTAAACACGGTT-1  0.707984
18  GGACCGTGGGAACG-1  0.114186
19  GGGCCAACCTTGGA-1  0.798096
20  GTTAACCTTGCTTT-1  0.421150
21  TAGGCATGCTCTCG-1  0.721983
22  TCTAACACGAGCAG-1  0.284855
23  TGCAATCTTCAGGT-1  0.912272
24  TGTAGGTGCTCTAT-1  0.616002
25  TTACTCGACGCAAT-1  0.378805
26  TTATGGCTTATGGC-1  0.422987
27  TTGAGGACTACGCA-1  0.544432
28  TTTAGCTGTACTCT-1  0.689446
29  TTTCGAACACCTGA-1  0.915720

In [6]:
test = UMAPexplorer(_umap.values, _expr.values)
test.explore_data()

Selected 37 cells
Calculating correlations...
Done
Selected gene 1797
Min/max expression level for gene 1797 -0.979315221309662 2.0967912673950195
EXPORTING DATA...
BYE