## Fixes:
- sort in absolute value
- Put it in a module / pip / conda
- Add differential expression feature
- Calculate everything in matrices rather than for loops
- When you color cells, what should the max and min expression be? Based on the selected cells or based on all of the cells. Currently it seems to remap based on only the selected cells but this is maybe misleading.

- Pearson R vs. Spearman R?


- Required input values: Pandas vs. numpy

In [1]:
import pandas as pd
import numpy as np
from umap_explorer import UMAPexplorer

In [2]:
%load_ext py5
%gui osx

print('DOWNLOADING AND EXTRACTING EXAMPLE DATA')
! mkdir -p ../data
! wget https://storage.googleapis.com/sabeti-public/dkotliar/scnavigator/pbmc3k/data/pbmc3k_umap.tsv -O ../data/pbmc3k_umap.tsv
! wget https://storage.googleapis.com/sabeti-public/dkotliar/scnavigator/pbmc3k/data/pbmc3k_expression_filtered_normalized.tsv.gz -O ../data/pbmc3k_expression_filtered_normalized.tsv.gz
! gzip -df ../data/pbmc3k_expression_filtered_normalized.tsv.gz
! ls ../data

In [3]:
print("LOADING UMAP DATA...")

_umap = pd.read_csv('../data/pbmc3k_umap.tsv', sep='\t')
_umap.index = _umap['index']
_umap = _umap.iloc[:, 1:]
_umap.head()

LOADING UMAP DATA...

                    UMAP_1     UMAP_2
index
AAACATACAACCAC-1  3.638991   3.122167
AAACATTGAGCTAC-1 -0.490064  10.553852
AAACATTGATCAGC-1  0.391078   4.035561
AAACCGTGCTTCCG-1 -6.747729  -0.600776
AAACCGTGTATGCG-1  1.887045  -1.526383

In [4]:
print("LOADING GENE EXPRESSION DATA...")

_expr = pd.read_csv('../data/pbmc3k_expression_filtered_normalized.tsv', sep='\t')
_expr.set_index('index', inplace=True)
_expr.head()

LOADING GENE EXPRESSION DATA...

,TNFRSF4,CPSF3L,ATAD3C,C1orf86,RER1,TNFRSF25,TNFRSF9,CTNNBIP1,SRM,UBIAD1,...,DSCR3,BRWD1,BACE2,SIK1,C21orf33,ICOSLG,SUMO3,SLC19A1,S100B,PRMT2
index,,,,,,,,,,,,,,,,,,,,,
AAACATACAACCAC-1,-0.171470,-0.280812,-0.046677,-0.475169,-0.544024,4.928496,-0.038028,-0.280573,-0.341788,-0.195361,...,-0.226570,-0.236269,-0.102943,-0.222116,-0.312401,-0.121678,-0.521229,-0.098269,-0.209095,-0.531203
AAACATTGAGCTAC-1,-0.214582,-0.372653,-0.054804,-0.683391,0.633951,-0.334837,-0.045589,-0.498264,-0.541914,-0.209017,...,-0.317531,2.568868,0.007155,-0.445372,1.629285,-0.058662,-0.857163,-0.266844,-0.313146,-0.596654
AAACATTGATCAGC-1,-0.376888,-0.295085,-0.057527,-0.520972,1.332648,-0.309362,-0.103108,-0.272526,-0.500799,-0.220228,...,-0.302938,-0.239801,-0.071774,-0.297857,-0.410920,-0.070431,-0.590720,-0.158656,-0.170876,1.379000
AAACCGTGCTTCCG-1,-0.285241,-0.281735,-0.052227,-0.484929,1.572680,-0.271825,-0.074552,-0.258875,-0.416752,-0.208471,...,-0.262978,-0.231807,-0.093818,-0.247770,2.552079,-0.097402,1.631684,-0.119462,-0.179120,-0.505669
AAACCGTGTATGCG-1,-0.256484,-0.220394,-0.046800,-0.345859,-0.333409,-0.208122,-0.069514,5.806440,-0.283112,-0.199355,...,-0.202237,-0.176765,-0.167350,-0.098665,-0.275836,-0.139482,-0.310095,-0.006877,-0.109614,-0.461946

In [5]:
test = UMAPexplorer(_umap, _expr)
test.explore_data()

Selected 1612 cells
Calculating correlations...
Done
Selected gene NKG7
Min/max expression level for gene NKG7 -1.0051720142364502 3.231872320175171
EXPORTING DATA...
BYE

In [9]:
z = _umap.values.copy()

In [6]:
test.significant_genes

                     R             P
LGALS1       -0.776084  4.668194e-07
LGALS3       -0.770768  6.255527e-07
AIF1         -0.760379  1.084620e-06
PCP2         -0.723926  6.138661e-06
URB2         -0.723828  6.165109e-06
...                ...           ...
RP11-432I5.1  0.723548  6.241083e-06
SPRY1         0.723828  6.165200e-06
CDKN2A        0.723898  6.146322e-06
RFPL2         0.723902  6.145310e-06
KLRB1         0.723928  6.138258e-06

[429 rows x 2 columns]

In [7]:
test.selected_cells

               index      proj
0   AAGATTACCGCCTT-1  0.254572
1   AAGCCATGAACTGC-1  0.525927
2   AATGCGTGGACGGA-1  0.118430
3   AATTACGAATTCCT-1  0.195944
4   ACGAGGGACAGGAG-1  0.658741
5   ACGTGATGCCATGA-1  0.330072
6   ACTTAAGATTACTC-1  0.096151
7   AGCACTGATGCTTT-1  0.424344
8   ATACCACTCTAAGC-1  0.184605
9   ATACCGGAATGCTG-1  0.418610
10  ATGTAAACGGGATG-1  0.005927
11  ATTGTAGATTCCCG-1  0.009129
12  CGATCAGATGTGAC-1  0.831659
13  CTCCACGAGAGATA-1  0.304461
14  GAAAGTGAAAGTGA-1  0.502925
15  GAAGGTCTTAAAGG-1  0.437255
16  GACATTCTCCACCT-1  0.368181
17  GCGTAAACACGGTT-1  0.707984
18  GGACCGTGGGAACG-1  0.114186
19  GGGCCAACCTTGGA-1  0.798096
20  GTTAACCTTGCTTT-1  0.421150
21  TAGGCATGCTCTCG-1  0.721983
22  TCTAACACGAGCAG-1  0.284855
23  TGCAATCTTCAGGT-1  0.912272
24  TGTAGGTGCTCTAT-1  0.616002
25  TTACTCGACGCAAT-1  0.378805
26  TTATGGCTTATGGC-1  0.422987
27  TTGAGGACTACGCA-1  0.544432
28  TTTAGCTGTACTCT-1  0.689446
29  TTTCGAACACCTGA-1  0.915720

In [6]:
test = UMAPexplorer(_umap.values, _expr.values)
test.explore_data()