In [1]:
import pandas as pd
import numpy as np
from scipy.io import mmread
import scipy.sparse as sparse

In [2]:
%load_ext py5
%gui osx
%load_ext autoreload
%autoreload 2

print('DOWNLOADING AND EXTRACTING EXAMPLE DATA')
! mkdir -p ../data
! wget https://www.dropbox.com/s/n3dbhu03845qwmb/Tcell50K_expression_log2TP10K_20210409.barcodes.tsv -O ../../data/Tcell50K_expression_log2TP10K_20210409.barcodes.tsv
! wget https://www.dropbox.com/s/8df9uc5yzxv8zob/Tcell50K_expression_log2TP10K_20210409.genes.tsv -O ../../data/Tcell50K_expression_log2TP10K_20210409.genes.tsv
! wget https://www.dropbox.com/s/w0iklq4uifsyljn/Tcell50K_expression_log2TP10K_20210409.umap.tsv -O ../../data/Tcell50K_expression_log2TP10K_20210409.umap.tsv
! wget https://www.dropbox.com/s/zewzv04mrfoggix/Tcell50K_expression_log2TP10K_20210409.mtx -O ../data/../Tcell50K_expression_log2TP10K_20210409.mtx

In [5]:
print("LOADING UMAP DATA...")

umap = pd.read_csv('../../data/Tcell50K_expression_log2TP10K_20210409.umap.tsv', sep='\t', index_col=0)
umap.head()

LOADING UMAP DATA...

                     UMAP_1     UMAP_2
AAACATACACCCAA-1   3.975246  10.370767
AAACATACCCCTCA-1   9.388674   1.431675
AAACATACCGGAGA-1  12.206055  11.943375
AAACATACTCTTCA-1  15.312049  -2.373958
AAACATACTGGATC-1  10.571509  -6.149192

In [6]:
print("LOADING GENE EXPRESSION DATA...")

expr_sparse = mmread('../../data/Tcell50K_expression_log2TP10K_20210409.mtx')
expr_sparse = sparse.csc_matrix(expr_sparse)
expr_sparse

LOADING GENE EXPRESSION DATA...

<52899x12563 sparse matrix of type '<class 'numpy.float64'>'
	with 28209469 stored elements in Compressed Sparse Column format>

In [7]:
genes = list(pd.read_csv('../../data/Tcell50K_expression_log2TP10K_20210409.genes.tsv', sep='\t', header=None)[0])
barcodes = list(pd.read_csv('../../data/Tcell50K_expression_log2TP10K_20210409.barcodes.tsv', sep='\t', header=None)[0])

In [8]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.insert(0, '../../sciviewer')
from sciviewer import SCIViewer

## Remove the relative import . module imports in sciviewer.py and gui.py for this to work

## This try / except block doesn't seem to close the sketch
## on crashing for some reason

try:
    svobj = SCIViewer(umap, expr_sparse, gene_names=genes,
                    cell_names=barcodes)
    svobj.explore_data()
except:
    svobj.renderer.exit_sketch()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
1.6444332599639893 seconds to select and project cells
Selected 5516 cells
Calculating differential expression...
0.3175079822540283 seconds to calculate genesums. Sparsity:  True
1.414849042892456 seconds to calculate squared genesums. Sparsity:  True
3.810309886932373 seconds to calculate differential expression. Sparsity:  True
Selected gene NKG7
Min/max expression level for gene NKG7 0.0 5.463
Selected gene GNLY
Min/max expression level for gene GNLY 0.0 6.0092
Selected gene CCL5
Min/max expression level for gene CCL5 0.0 5.743
Selected gene GZMH
Min/max expression level for gene GZMH 0.0 5.0314
4.360908031463623 seconds to select and project cells
Selected 38208 cells
Calculating differential expression...
1.8779041767120361 seconds to calculate differential expression. Sparsity:  True
Selected gene LTB
Min/max expression level for gene LTB 0.0 5.9866
Selected gene LDHB
Min/max expression level for gene LDHB 0.0 5.0228
Selected gene RPL11
Min/max expression level for gene RPL11 0.0 5.7148
Selected gene RPL32
Min/max expression level for gene RPL32 0.0 5.6152
Selected gene CCR7
Min/max expression level for gene CCR7 0.0 4.4797
Selected gene CCL5
Min/max expression level for gene CCL5 0.0 5.743
Selected gene NKG7
Min/max expression level for gene NKG7 0.0 5.463
Selected gene GZMA
Min/max expression level for gene GZMA 0.0 4.8103
1.619863748550415 seconds to select and project cells
Selected 11256 cells
Calculating correlations...
2.67238187789917 seconds to calculate correlations. Sparsity:  True
Selected gene IER2
Min/max expression level for gene IER2 0.0 5.083
Selected gene MALAT1
Min/max expression level for gene MALAT1 2.7251 7.1203
2.909346103668213 seconds to select and project cells
Selected 15985 cells
Calculating correlations...
2.203153133392334 seconds to calculate correlations. Sparsity:  True
Selected gene IER2
Min/max expression level for gene IER2 0.0 5.083
Selected gene JUNB
Min/max expression level for gene JUNB 0.0 5.2753
Selected gene JUN
Min/max expression level for gene JUN 0.0 5.1607
Selected gene CD8B
Min/max expression level for gene CD8B 0.0 4.8472
3.002016067504883 seconds to select and project cells
Selected 19026 cells
Calculating correlations...
1.685210943222046 seconds to calculate correlations. Sparsity:  True
Selected gene CD8B
Min/max expression level for gene CD8B 0.0 4.8472
Selected gene CD8A
Min/max expression level for gene CD8A 0.0 4.414
Selected gene CD8B
Min/max expression level for gene CD8B 0.0 4.8472
1.7715699672698975 seconds to select and project cells
Selected 9723 cells
Calculating correlations...
2.0189268589019775 seconds to calculate correlations. Sparsity:  True
Selected gene NKG7
Min/max expression level for gene NKG7 0.0 5.463
Selected gene CCL5
Min/max expression level for gene CCL5 0.0 5.743
Selected gene GNLY
Min/max expression level for gene GNLY 0.0 6.0092
Selected gene GZMH
Min/max expression level for gene GZMH 0.0 5.0314
Selected gene GZMB
Min/max expression level for gene GZMB 0.0 4.8742
Selected gene GZMA
Min/max expression level for gene GZMA 0.0 4.8103
Selected gene LTB
Min/max expression level for gene LTB 0.0 5.9866
Selected gene CD27
Min/max expression level for gene CD27 0.0 4.3316
1.8274497985839844 seconds to select and project cells
Selected 13031 cells
Calculating differential expression...
2.4963581562042236 seconds to calculate differential expression. Sparsity:  True
Selected gene CCL5
Min/max expression level for gene CCL5 0.0 5.743
Selected gene NKG7
Min/max expression level for gene NKG7 0.0 5.463
Selected gene GZMA
Min/max expression level for gene GZMA 0.0 4.8103
Selected gene HLA-B
Min/max expression level for gene HLA-B 0.0 5.5796
Selected gene LTB
Min/max expression level for gene LTB 0.0 5.9866
Selected gene LDHB
Min/max expression level for gene LDHB 0.0 5.0228
Selected gene CCR7
Min/max expression level for gene CCR7 0.0 4.4797

In [23]:
svobj.significant_genes.head()

                 R    P
S100A4 -205.189633  0.0
IL32   -170.047202  0.0
CCL5   -168.797463  0.0
NKG7   -139.371245  0.0
B2M    -138.914805  0.0

In [25]:
expr_dense = pd.DataFrame(expr_sparse.todense(), columns=genes, index=barcodes)

In [26]:
expr_dense.iloc[:5, :5]

                  LINC00115  FAM41C  NOC2L  KLHL17  PLEKHN1
AAACATACACCCAA-1        0.0     0.0    0.0     0.0      0.0
AAACATACCCCTCA-1        0.0     0.0    0.0     0.0      0.0
AAACATACCGGAGA-1        0.0     0.0    0.0     0.0      0.0
AAACATACTCTTCA-1        0.0     0.0    0.0     0.0      0.0
AAACATACTGGATC-1        0.0     0.0    0.0     0.0      0.0

In [27]:
expr_dense.shape

(52899, 12563)

In [28]:
test_dense = UMAPexplorer(umap, expr_dense)
test_dense.explore_data()

0.39404726028442383 seconds to select and project cells
Selected 344 cells
Calculating correlations...

../umap_explorer/umap_explorer.py:501: RuntimeWarning: invalid value encountered in true_divide
  rs = np.dot(DP, DO) / np.sqrt(np.sum(DO ** 2, 0) * np.sum(DP ** 2))

9.00390338897705 seconds to calculate correlations. Sparsity:  False
0.9730532169342041 seconds to select and project cells
Selected 5412 cells
Calculating correlations...
16.529144048690796 seconds to calculate correlations. Sparsity:  False
Selected mode 2
0.6109471321105957 seconds to select and project cells
Selected 375 cells
Calculating differential expression...
8.504546165466309 seconds to calculate genesums. Sparsity:  False
20.941229104995728 seconds to calculate squared genesums. Sparsity:  False
45.02797794342041 seconds to calculate differential expression. Sparsity:  False
0.9342422485351562 seconds to select and project cells
Selected 5562 cells
Calculating differential expression...

../umap_explorer/umap_explorer.py:463: RuntimeWarning: invalid value encountered in sqrt
  remainder_stds = np.sqrt((self.gene_sqsum - selected_stds - (remainder_N*remainder_means**2)) / (remainder_N -1))

29.00832200050354 seconds to calculate differential expression. Sparsity:  False
2.678100347518921 seconds to select and project cells
Selected 23513 cells
Calculating differential expression...
60.34158396720886 seconds to calculate differential expression. Sparsity:  False
EXPORTING DATA...
BYE