In [1]:
%load_ext py5
%gui osx

In [2]:
import pandas as pd
import numpy as np

print('DOWNLOADING AND EXTRACTING EXAMPLE DATA')
! mkdir -p ../../data
! wget https://www.dropbox.com/s/ntwa1x9hxjzwwhx/pbmc3k_umap_20210420.tsv -O ../../data/pbmc3k_umap_20210420.tsv
! wget https://www.dropbox.com/s/ruzzcpc4mw3hakp/pbmc3k_expression_log2TP10K_20210420.tsv -O ../../data/pbmc3k_expression_log2TP10K_20210420.tsv
! ls ../../data

In [11]:
print("LOADING UMAP DATA...")

umap = pd.read_csv('../../data/pbmc3k_umap_20210420.tsv', sep='\t', index_col=0)
umap.head()

LOADING UMAP DATA...

                    UMAP_1     UMAP_2
AAACATACAACCAC-1  9.728817   4.212151
AAACATTGAGCTAC-1  3.799765  10.181845
AAACATTGATCAGC-1  7.023628   4.829623
AAACCGTGCTTCCG-1 -0.298523   2.024061
AAACCGTGTATGCG-1  8.018503  -0.300426

In [12]:
print("LOADING GENE EXPRESSION DATA...")

expr = pd.read_csv('../../data/pbmc3k_expression_log2TP10K_20210420.tsv', sep='\t', index_col=0)
expr.iloc[:5,:5]

LOADING GENE EXPRESSION DATA...

,AL627309.1,AP006222.2,RP11-206L10.2,RP11-206L10.9,LINC00115
AAACATACAACCAC-1,0.0,0.0,0.0,0.0,0.0
AAACATTGAGCTAC-1,0.0,0.0,0.0,0.0,0.0
AAACATTGATCAGC-1,0.0,0.0,0.0,0.0,0.0
AAACCGTGCTTCCG-1,0.0,0.0,0.0,0.0,0.0
AAACCGTGTATGCG-1,0.0,0.0,0.0,0.0,0.0

In [13]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.insert(0, '../../sciviewer')
from sciviewer import SCIViewer

## Remove the relative import . module imports in sciviewer.py and gui.py for this to work

## This try / except block doesn't seem to close the sketch
## on crashing for some reason
try:
    svobj = SCIViewer(umap, expr)
    svobj.explore_data()
except:
    svobj.renderer.exit_sketch()

0.05495405197143555 seconds to select and project cells
Selected 341 cells
Calculating differential expression...
0.057615041732788086 seconds to calculate genesums. Sparsity:  False
0.8230719566345215 seconds to calculate squared genesums. Sparsity:  False

../../sciviewer/sciviewer.py:572: RuntimeWarning: invalid value encountered in sqrt
  remainder_stds = np.sqrt((self.gene_sqsum - selected_stds - (remainder_N*remainder_means**2)) / (remainder_N -1))

2.098917245864868 seconds to calculate differential expression. Sparsity:  False
Selected gene CD74
Min/max expression level for gene CD74 0.0 6.048452
Selected gene HLA-DRA
Min/max expression level for gene HLA-DRA 0.0 5.969516
Selected gene HLA-DPB1
Min/max expression level for gene HLA-DPB1 0.0 6.1795025
Selected gene CD3D
Min/max expression level for gene CD3D 0.0 5.092196
Selected gene IL32
Min/max expression level for gene IL32 0.0 5.5627327
0.053243160247802734 seconds to select and project cells
Selected 361 cells
Calculating correlations...

../../sciviewer/sciviewer.py:613: RuntimeWarning: invalid value encountered in true_divide
  rs = np.dot(DP, DO) / np.sqrt(np.sum(DO ** 2, 0) * np.sum(DP ** 2))

1.0866601467132568 seconds to calculate correlations. Sparsity:  False
Selected gene GZMK
Min/max expression level for gene GZMK 0.0 5.002233
Selected gene RPS12
Min/max expression level for gene RPS12 0.0 6.1948423
Selected gene CD3D
Min/max expression level for gene CD3D 0.0 5.092196
Selected gene RPL13
Min/max expression level for gene RPL13 0.0 6.4361143
Selected gene GZMB
Min/max expression level for gene GZMB 0.0 5.578202
Selected gene FCER1G
Min/max expression level for gene FCER1G 0.0 5.0558357
Selected gene FGFBP2
Min/max expression level for gene FGFBP2 0.0 5.42283
Selected gene NKG7
Min/max expression level for gene NKG7 0.0 5.948639
Selected gene TYROBP
Min/max expression level for gene TYROBP 0.0 5.704022
0.01784491539001465 seconds to select and project cells
Selected 12 cells
Calculating differential expression...
0.7187800407409668 seconds to calculate differential expression. Sparsity:  False
Selected gene SDPR
Min/max expression level for gene SDPR 0.0 5.179705
Selected gene GPX1
Min/max expression level for gene GPX1 0.0 5.552269
Selected gene TAGLN2
Min/max expression level for gene TAGLN2 0.0 4.636136
Selected gene GNG11
Min/max expression level for gene GNG11 0.0 5.179337
Selected gene PF4
Min/max expression level for gene PF4 0.0 5.5560412
Selected gene OAZ1
Min/max expression level for gene OAZ1 0.0 6.23063
Selected gene PPBP
Min/max expression level for gene PPBP 0.0 6.8759985
0.02292466163635254 seconds to select and project cells
Selected 35 cells
Calculating differential expression...
0.7275409698486328 seconds to calculate differential expression. Sparsity:  False
Selected gene HLA-DRA
Min/max expression level for gene HLA-DRA 0.0 5.969516
Selected gene CD74
Min/max expression level for gene CD74 0.0 6.048452
Selected gene CST3
Min/max expression level for gene CST3 0.0 5.5517144
Selected gene HLA-DPA1
Min/max expression level for gene HLA-DPA1 0.0 5.7801185
Selected gene HLA-DPB1
Min/max expression level for gene HLA-DPB1 0.0 6.1795025
Selected gene HLA-DRB1
Min/max expression level for gene HLA-DRB1 0.0 4.8618813
Selected gene LSP1
Min/max expression level for gene LSP1 0.0 5.3239574
Selected gene HLA-DQA1
Min/max expression level for gene HLA-DQA1 0.0 5.1798224
Selected gene HLA-DMA
Min/max expression level for gene HLA-DMA 0.0 5.281104
Selected gene HLA-DRB5
Min/max expression level for gene HLA-DRB5 0.0 4.46852
Selected gene LYZ
Min/max expression level for gene LYZ 0.0 6.460587
Selected gene TYROBP
Min/max expression level for gene TYROBP 0.0 5.704022
Selected gene GSTP1
Min/max expression level for gene GSTP1 0.0 5.3561997
Selected gene VIM
Min/max expression level for gene VIM 0.0 5.351637
Selected gene GRN
Min/max expression level for gene GRN 0.0 5.2912955
Selected gene ARPC1B
Min/max expression level for gene ARPC1B 0.0 5.8605943
Selected gene FCER1G
Min/max expression level for gene FCER1G 0.0 5.0558357
Selected gene GSTP1
Min/max expression level for gene GSTP1 0.0 5.3561997
0.031877756118774414 seconds to select and project cells
Selected 98 cells
Calculating correlations...
0.940284013748169 seconds to calculate correlations. Sparsity:  False
Selected gene HLA-DQB1
Min/max expression level for gene HLA-DQB1 0.0 4.976489
Selected gene HLA-DQA1
Min/max expression level for gene HLA-DQA1 0.0 5.1798224
Selected gene HLA-DPA1
Min/max expression level for gene HLA-DPA1 0.0 5.7801185
Selected gene CD74
Min/max expression level for gene CD74 0.0 6.048452
Selected gene HLA-DPB1
Min/max expression level for gene HLA-DPB1 0.0 6.1795025
Selected gene HLA-DQA2
Min/max expression level for gene HLA-DQA2 0.0 3.229691
Selected gene FCER1A
Min/max expression level for gene FCER1A 0.0 4.3631954
Selected gene HLA-DRA
Min/max expression level for gene HLA-DRA 0.0 5.969516
0.07913398742675781 seconds to select and project cells
Selected 612 cells
Calculating correlations...
1.3330860137939453 seconds to calculate correlations. Sparsity:  False
Selected gene FCGR3A
Min/max expression level for gene FCGR3A 0.0 4.1987143
Selected gene RHOC
Min/max expression level for gene RHOC 0.0 3.7419977
Selected gene IFITM2
Min/max expression level for gene IFITM2 0.0 5.139403
Selected gene CD79B
Min/max expression level for gene CD79B 0.0 5.3101363
Selected gene S100A8
Min/max expression level for gene S100A8 0.0 5.953327
Selected gene LYZ
Min/max expression level for gene LYZ 0.0 6.460587
Selected gene S100A9
Min/max expression level for gene S100A9 0.0 6.331901
Selected gene CD14
Min/max expression level for gene CD14 0.0 3.9549778
Selected gene GSTP1
Min/max expression level for gene GSTP1 0.0 5.3561997
0.050141096115112305 seconds to select and project cells
Selected 340 cells
Calculating correlations...
1.1402359008789062 seconds to calculate correlations. Sparsity:  False
Selected gene IGJ
Min/max expression level for gene IGJ 0.0 5.90618
Selected gene S100A10
Min/max expression level for gene S100A10 0.0 5.445317
Selected gene AIM2
Min/max expression level for gene AIM2 0.0 4.8671427
Selected gene COTL1
Min/max expression level for gene COTL1 0.0 5.2320185
Selected gene CD27
Min/max expression level for gene CD27 0.0 5.1852603
Selected gene CXCR4
Min/max expression level for gene CXCR4 0.0 4.986354
Selected gene HLA-DRA
Min/max expression level for gene HLA-DRA 0.0 5.969516
EXPORTING DATA...
BYE

## The class attributes below get populated in real time and thus can be accessed when the interactive viewer is running

In [21]:
## This attribute get updated in real time whenever cells are selected

svobj.selected_cells.head()

   index         cell_name  projection
0      1  AAACATTGAGCTAC-1    0.924999
1     10  AAACTTGAAAAACG-1    0.928325
2     18  AAAGGCCTGTCTAG-1    0.863444
3     19  AAAGTTTGATCACG-1    0.114750
4     20  AAAGTTTGGGGTGA-1    0.628166

In [22]:
## This gets updated in real time when cells are selected in differential expression mode
svobj.results_proj_correlation.head()

                      R         P
AL627309.1          NaN       NaN
AP006222.2          NaN       NaN
RP11-206L10.2  0.018435  0.734832
RP11-206L10.9       NaN       NaN
LINC00115     -0.041971  0.440474

In [23]:
## This gets updated in real time when cells are selected in directional correlation mode
svobj.results_diffexpr.head()

                      T         P
AL627309.1    -2.985351  0.002859
AP006222.2    -1.724507  0.084735
RP11-206L10.2  1.375107  0.178075
RP11-206L10.9 -1.728097  0.084089
LINC00115     -4.224138  0.000025

In [24]:
svobj.results_proj_correlation.head()

                      R         P
AL627309.1          NaN       NaN
AP006222.2          NaN       NaN
RP11-206L10.2  0.018435  0.734832
RP11-206L10.9       NaN       NaN
LINC00115     -0.041971  0.440474

## The class attributes below only get populated when the export and close button is pushed

In [25]:
svobj.significant_genes.head()

                R             P
IGJ      0.346487  5.031513e-11
S100A10  0.286611  7.505241e-08
AIM2     0.283531  1.047175e-07
COTL1    0.279396  1.627554e-07
VIM      0.268011  5.283376e-07

In [26]:
svobj.significant_genes.tail()

                R             P
SNX29P2 -0.292041  4.130506e-08
CD79B   -0.294465  3.151355e-08
CD72    -0.306601  7.822962e-09
CD74    -0.306615  7.809669e-09
TCL1A   -0.436444  3.034777e-17

In [27]:
svobj.selected_gene_cell_data.head()

              index      proj       exp
0  AAACATTGAGCTAC-1  0.924999  4.309784
1  AAACTTGAAAAACG-1  0.928325  4.532358
2  AAAGGCCTGTCTAG-1  0.863444  3.301051
3  AAAGTTTGATCACG-1  0.114750  5.016235
4  AAAGTTTGGGGTGA-1  0.628166  4.458291