In [7]:
%load_ext py5
%gui osx

In [8]:
import pandas as pd
import numpy as np
from sciviewer import SCIViewer

In [5]:
print('DOWNLOADING AND EXTRACTING EXAMPLE DATA')
! mkdir -p ../data
! wget https://www.dropbox.com/s/ntwa1x9hxjzwwhx/pbmc3k_umap_20210420.tsv -O ../data/pbmc3k_umap_20210420.tsv
! wget https://www.dropbox.com/s/ruzzcpc4mw3hakp/pbmc3k_expression_log2TP10K_20210420.tsv -O ../data/pbmc3k_expression_log2TP10K_20210420.tsv
! ls ../data

DOWNLOADING AND EXTRACTING EXAMPLE DATA
--2021-04-20 15:52:28--  https://www.dropbox.com/s/ravbd6ssiglogst/pbmc3k_umap_20210420.tsv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.4.18
Connecting to www.dropbox.com (www.dropbox.com)|162.125.4.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/ravbd6ssiglogst/pbmc3k_umap_20210420.tsv [following]
--2021-04-20 15:52:28--  https://www.dropbox.com/s/raw/ravbd6ssiglogst/pbmc3k_umap_20210420.tsv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc2e140fdaae2dbbdc6671e31a30.dl.dropboxusercontent.com/cd/0/inline/BM8dZIt3esOOihDc31N9BCbcFwVWZTAIEyTKiat0B3neplIiAnidsvNX-KW9x07vHFq1EkOIq3BRVRV0wjvnsX8vdAXElPR3sTwgOWxKJD8cIgY9csjFGzVHFQ1hzP77ukA2Tv2i63Wq7Ge-TMbBA-Wn/file# [following]
--2021-04-20 15:52:28--  https://uc2e140fdaae2dbbdc6671e31a30.dl.dropboxusercontent.com/cd/0/inline/BM8dZIt3esOOihDc31N9BCbcFwVWZTAIEyTKiat0B3neplIiAnidsvNX-KW9x07vHFq1EkOIq3BRVRV0wjvnsX8vdAXElPR3sTwgOWxKJD8cIgY9csjFGzVHFQ1hzP77ukA2Tv2i63Wq7Ge-TMbBA-Wn/file
Resolving uc2e140fdaae2dbbdc6671e31a30.dl.dropboxusercontent.com (uc2e140fdaae2dbbdc6671e31a30.dl.dropboxusercontent.com)... 162.125.4.15
Connecting to uc2e140fdaae2dbbdc6671e31a30.dl.dropboxusercontent.com (uc2e140fdaae2dbbdc6671e31a30.dl.dropboxusercontent.com)|162.125.4.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 96074 (94K) [text/plain]
Saving to: ‘../data/pbmc3k_umap_20210420.tsv’

../data/pbmc3k_umap 100%[===================>]  93.82K  --.-KB/s    in 0.04s

2021-04-20 15:52:29 (2.27 MB/s) - ‘../data/pbmc3k_umap_20210420.tsv’ saved [96074/96074]

--2021-04-20 15:52:29--  https://www.dropbox.com/s/f8hqmyg7wyirkig/pbmc3k_expression_log2TP10K_20210420.tsv.gz
Resolving www.dropbox.com (www.dropbox.com)... 162.125.4.18
Connecting to www.dropbox.com (www.dropbox.com)|162.125.4.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/f8hqmyg7wyirkig/pbmc3k_expression_log2TP10K_20210420.tsv.gz [following]
--2021-04-20 15:52:29--  https://www.dropbox.com/s/raw/f8hqmyg7wyirkig/pbmc3k_expression_log2TP10K_20210420.tsv.gz
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc6ad4bea14555b77a1771c87363.dl.dropboxusercontent.com/cd/0/inline/BM8wk3yB5XRYAKrzp2ld3fkP8ZucP-H28bKVYC7icgUgWDNIzYWfJzRdKyE311LdxLKriMJFcmywjIKO57CBRjLgU2dtdkN3UcAbUCsRBhCEW2DTA6ZC5hyqv7sqxiz787zSK92M3QuPVe50u3fEwSh5/file# [following]
--2021-04-20 15:52:30--  https://uc6ad4bea14555b77a1771c87363.dl.dropboxusercontent.com/cd/0/inline/BM8wk3yB5XRYAKrzp2ld3fkP8ZucP-H28bKVYC7icgUgWDNIzYWfJzRdKyE311LdxLKriMJFcmywjIKO57CBRjLgU2dtdkN3UcAbUCsRBhCEW2DTA6ZC5hyqv7sqxiz787zSK92M3QuPVe50u3fEwSh5/file
Resolving uc6ad4bea14555b77a1771c87363.dl.dropboxusercontent.com (uc6ad4bea14555b77a1771c87363.dl.dropboxusercontent.com)... 162.125.4.15
Connecting to uc6ad4bea14555b77a1771c87363.dl.dropboxusercontent.com (uc6ad4bea14555b77a1771c87363.dl.dropboxusercontent.com)|162.125.4.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BM8jQmZay3QBJuVOQFKeu1-HWjU4g_h29aKEg-ICaa_UAaf1SNm9LAR7PMBUCpGwwHAXxEdB9JMsVgU_EoLEa7YlH8ordQniCV6EpOhdjpXj9m56w_qfKi0_o2XbtcALf5zT-YlZRjJxBcJcKa4xHr1GY2fgWpUKhkz3F-hqV6aKCJF_1ajDi5QOzHZYLjR7gvOgDgtXoIwVBZC2WuIL90coiX5nIi2MYADxYzTFcBdTV2U_NnTlPibTgPdvNWk1MaSPU2pmr3hU8Zt-XgUrmdzUhvLdxz0YH3dQ4o7erUX6Ba2y-ywJc5OnI2qmHp5737CD291A8nTO35mB_omNF7H2n3LOmA0EXAC1sVp3GBzODr9zX5ckuu_lWS6RpNrotaI/file [following]
--2021-04-20 15:52:30--  https://uc6ad4bea14555b77a1771c87363.dl.dropboxusercontent.com/cd/0/inline2/BM8jQmZay3QBJuVOQFKeu1-HWjU4g_h29aKEg-ICaa_UAaf1SNm9LAR7PMBUCpGwwHAXxEdB9JMsVgU_EoLEa7YlH8ordQniCV6EpOhdjpXj9m56w_qfKi0_o2XbtcALf5zT-YlZRjJxBcJcKa4xHr1GY2fgWpUKhkz3F-hqV6aKCJF_1ajDi5QOzHZYLjR7gvOgDgtXoIwVBZC2WuIL90coiX5nIi2MYADxYzTFcBdTV2U_NnTlPibTgPdvNWk1MaSPU2pmr3hU8Zt-XgUrmdzUhvLdxz0YH3dQ4o7erUX6Ba2y-ywJc5OnI2qmHp5737CD291A8nTO35mB_omNF7H2n3LOmA0EXAC1sVp3GBzODr9zX5ckuu_lWS6RpNrotaI/file
Reusing existing connection to uc6ad4bea14555b77a1771c87363.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 171740869 (164M) [application/octet-stream]
Saving to: ‘../data/pbmc3k_expression_log2TP10K_20210420.tsv.gz’

../data/pbmc3k_expr 100%[===================>] 163.78M  13.4MB/s    in 12s

2021-04-20 15:52:43 (13.9 MB/s) - ‘../data/pbmc3k_expression_log2TP10K_20210420.tsv.gz’ saved [171740869/171740869]

pbmc3k_expression_log2TP10K_20210420.tsv
pbmc3k_umap_20210420.tsv

In [9]:
print("LOADING UMAP DATA...")

umap = pd.read_csv('../data/pbmc3k_umap_20210420.tsv', sep='\t', index_col=0)
umap.head()

LOADING UMAP DATA...

                    UMAP_1     UMAP_2
AAACATACAACCAC-1  9.728817   4.212151
AAACATTGAGCTAC-1  3.799765  10.181845
AAACATTGATCAGC-1  7.023628   4.829623
AAACCGTGCTTCCG-1 -0.298523   2.024061
AAACCGTGTATGCG-1  8.018503  -0.300426

In [12]:
print("LOADING GENE EXPRESSION DATA...")

expr = pd.read_csv('../data/pbmc3k_expression_log2TP10K_20210420.tsv', sep='\t', index_col=0)
expr.iloc[:5,:5]

LOADING GENE EXPRESSION DATA...

,AL627309.1,AP006222.2,RP11-206L10.2,RP11-206L10.9,LINC00115
AAACATACAACCAC-1,-0.006122,-0.001480,-0.002136,-0.002923,-0.011153
AAACATTGAGCTAC-1,-0.009402,-0.001555,-0.010525,-0.011048,-0.015658
AAACATTGATCAGC-1,-0.005427,-0.002481,-0.005944,-0.001574,-0.012173
AAACCGTGCTTCCG-1,-0.005468,-0.002045,-0.003649,-0.001515,-0.011380
AAACCGTGTATGCG-1,-0.003277,-0.001995,0.001954,0.003911,-0.008371

In [13]:
svobj = SCIViewer(umap, expr)
svobj.explore_data()

File "/Users/dylankotliar/miniconda3/envs/sciviewer/lib/python3.8/site-packages/sciviewer/sciviewer.py", line 105, in draw
    89   def draw(self):
 (...)
    101      if self.modeChange:
    102          if self.modeBtn.state == 1:
    103              self.initScatterShape()
    104          else:
--> 105              self.initViolinShape()
    106
    ..................................................
     self.initViolinShape = <method 'Py5Renderer.initViolinShape' of <sciviewer.sciviewe
                             r.Py5Renderer object at 0x7faca265e490> sciviewer.py:220>
    ..................................................

File "/Users/dylankotliar/miniconda3/envs/sciviewer/lib/python3.8/site-packages/sciviewer/sciviewer.py", line 236, in initViolinShape
    220  def initViolinShape(self, bw_method=None):
 (...)
    232
    233      # selected_values_nonzero = [x for x in selected_values if x != 0]
    234      # excluded_values_nonzero = [x for x in excluded_values if x != 0]
    235
--> 236      self.violingSelStats = mp.cbook.violin_stats(selected_values, _kde_method)
    237      self.violingExlStats = mp.cbook.violin_stats(excluded_values, _kde_method)
    ..................................................
     self.violingSelStats = None
     mp.cbook.violin_stats = <function 'violin_stats' __init__.py:1444>
     selected_values = 0x array([])
     _kde_method = <function 'Py5Renderer.initViolinShape.<locals>._kde_method'
                     sciviewer.py:221>
    ..................................................

File "/Users/dylankotliar/miniconda3/envs/sciviewer/lib/python3.8/site-packages/matplotlib/cbook/__init__.py", line 1520, in violin_stats
    1444  def violin_stats(X, method, points=100, quantiles=None):
 (...)
    1516          # Dictionary of results for this distribution
    1517          stats = {}
    1518
    1519          # Calculate basic stats for the distribution
--> 1520          min_val = np.min(x)
    1521          max_val = np.max(x)
    ..................................................
     np.min = <function 'amin' <__array_function__ internals>:2>
     x = []
    ..................................................

File "<__array_function__ internals>", line 5, in amin

File "/Users/dylankotliar/miniconda3/envs/sciviewer/lib/python3.8/site-packages/numpy/core/fromnumeric.py", line 2858, in amin
    2743  def amin(a, axis=None, out=None, keepdims=np._NoValue, initial=np._NoValue,
    2744           where=np._NoValue):
 (...)
--> 2858      return _wrapreduction(a, np.minimum, 'min', axis, None, out,
    ..................................................
     a = []
     np.minimum = <ufunc 'minimum'>
     axis = None
     out = None
    ..................................................

File "/Users/dylankotliar/miniconda3/envs/sciviewer/lib/python3.8/site-packages/numpy/core/fromnumeric.py", line 87, in _wrapreduction
    return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
---- (full traceback above) ----
File "/Users/dylankotliar/miniconda3/envs/sciviewer/lib/python3.8/site-packages/sciviewer/sciviewer.py", line 105, in draw
    self.initViolinShape()
File "/Users/dylankotliar/miniconda3/envs/sciviewer/lib/python3.8/site-packages/sciviewer/sciviewer.py", line 236, in initViolinShape
    self.violingSelStats = mp.cbook.violin_stats(selected_values, _kde_method)
File "/Users/dylankotliar/miniconda3/envs/sciviewer/lib/python3.8/site-packages/matplotlib/cbook/__init__.py", line 1520, in violin_stats
    min_val = np.min(x)
File "<__array_function__ internals>", line 5, in amin
File "/Users/dylankotliar/miniconda3/envs/sciviewer/lib/python3.8/site-packages/numpy/core/fromnumeric.py", line 2858, in amin
    return _wrapreduction(a, np.minimum, 'min', axis, None, out,
File "/Users/dylankotliar/miniconda3/envs/sciviewer/lib/python3.8/site-packages/numpy/core/fromnumeric.py", line 87, in _wrapreduction
    return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

ValueError: zero-size array to reduction operation minimum which has no identity

## The class attributes below get populated in real time and thus can be accessed when the interactive viewer is running

In [8]:
## This attribute get updated in real time whenever cells are selected

svobj.selected_cells.head()

   index         cell_name  projection
0      0  AAACATACAACCAC-1    0.079498
1      4  AAACCGTGTATGCG-1    0.771944
2      6  AAACGCTGACCAGT-1    0.275037
3      7  AAACGCTGGTTCTT-1    0.214253
4      8  AAACGCTGTAGCCA-1    0.196479

In [9]:
## This gets updated in real time when cells are selected in differential expression mode
svobj.results_proj_correlation.head()

                  R         P
LINC00115 -0.004645  0.915352
NOC2L      0.053452  0.221003
KLHL17     0.053389  0.221548
PLEKHN1    0.027167  0.534134
HES4       0.057122  0.190866

0.06090807914733887 seconds to select and project cells
Selected 343 cells
Calculating differential expression...
0.022533178329467773 seconds to calculate genesums. Sparsity:  False
0.34513401985168457 seconds to calculate squared genesums. Sparsity:  False

../sciviewer/sciviewer.py:522: RuntimeWarning: invalid value encountered in sqrt
  remainder_stds = np.sqrt((self.gene_sqsum - selected_stds - (remainder_N*remainder_means**2)) / (remainder_N -1))

1.312014102935791 seconds to calculate differential expression. Sparsity:  False

In [11]:
## This gets updated in real time when cells are selected in directional correlation mode
svobj.results_diffexpr.head()

                  T         P
LINC00115  0.587919  0.556917
NOC2L      1.403902  0.161092
KLHL17    -0.259110  0.795651
PLEKHN1   -2.635037  0.008470
HES4      -4.881080  0.000001

0.07551074028015137 seconds to select and project cells
Selected 525 cells
Calculating correlations...

../sciviewer/sciviewer.py:563: RuntimeWarning: invalid value encountered in true_divide
  rs = np.dot(DP, DO) / np.sqrt(np.sum(DO ** 2, 0) * np.sum(DP ** 2))

1.277630090713501 seconds to calculate correlations. Sparsity:  False

In [12]:
svobj.results_proj_correlation.head()

                  R         P
LINC00115 -0.004961  0.909711
NOC2L      0.052584  0.229047
KLHL17     0.053361  0.222230
PLEKHN1    0.027010  0.536898
HES4       0.057113  0.191360

## The class attributes below only get populated when the export and close button is pushed

In [18]:
svobj.significant_genes.head()

               R              P
GZMB    0.874089  3.996016e-166
GNLY    0.779129  3.731490e-108
FGFBP2  0.755538   3.926686e-98
PRF1    0.733799   7.355188e-90
NKG7    0.721800   1.236486e-85

In [17]:
svobj.significant_genes.tail()

               R             P
IL7R   -0.458064  1.359945e-28
GZMK   -0.464188  2.056784e-29
LTB    -0.573685  2.822993e-47
CD3D   -0.592153  5.402196e-51
EEF1A1 -0.617950  1.314918e-56

In [15]:
svobj.selected_gene_cell_data.head()

              index      proj       exp
0  AAACATACAACCAC-1  0.077073  0.000000
1  AAACCGTGTATGCG-1  0.755663  0.000000
2  AAACGCTGACCAGT-1  0.268625  0.000000
3  AAACGCTGGTTCTT-1  0.209041  2.205804
4  AAACGCTGTAGCCA-1  0.191950  0.000000