In [1]:
%load_ext py5
%gui osx

In [2]:
import pandas as pd
import numpy as np
from sciviewer import SCIViewer

print('DOWNLOADING AND EXTRACTING EXAMPLE DATA')
! mkdir -p ../data
! wget https://storage.googleapis.com/sabeti-public/dkotliar/scnavigator/pbmc3k/data/pbmc3k_umap_20210324.tsv -O ../data/pbmc3k_umap_20210324.tsv
! wget https://storage.googleapis.com/sabeti-public/dkotliar/scnavigator/pbmc3k/data/pbmc3k_expression_log2TP10K_20210324.tsv.gz -O ../data/pbmc3k_expression_log2TP10K_20210324.tsv.gz
! gzip -df ../data/pbmc3k_expression_log2TP10K_20210324.tsv.gz
! ls ../data

In [3]:
print("LOADING UMAP DATA...")

umap = pd.read_csv('../data/pbmc3k_umap_20210324.tsv', sep='\t', index_col=0)
umap.head()

LOADING UMAP DATA...

                     UMAP_1     UMAP_2
AAACATACAACCAC-1  11.257295  12.561447
AAACATTGAGCTAC-1   7.166475  -2.057729
AAACATTGATCAGC-1  15.217629  12.554446
AAACCGTGCTTCCG-1  -1.826561   6.781221
AAACCGTGTATGCG-1   7.656905  17.598440

In [4]:
print("LOADING GENE EXPRESSION DATA...")

expr = pd.read_csv('../data/pbmc3k_expression_log2TP10K_20210324.tsv', sep='\t', index_col=0)
expr.head()

LOADING GENE EXPRESSION DATA...

,LINC00115,NOC2L,KLHL17,PLEKHN1,HES4,ISG15,AGRN,C1orf159,TNFRSF18,TNFRSF4,...,COL6A2,SPATC1L,LSS,MCM3AP,YBEY,C21orf58,PCNT,DIP2A,S100B,PRMT2
AAACATACAACCAC-1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
AAACATTGAGCTAC-1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,2.251269,0.0,...,0.0,0.0,0.0,0.0,1.658208,0.0,0.0,0.0,0.0,0.000000
AAACATTGATCAGC-1,0.0,0.0,0.0,0.0,0.0,1.830715,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,1.830715
AAACCGTGCTTCCG-1,0.0,0.0,0.0,0.0,0.0,3.918842,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
AAACCGTGTATGCG-1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000

## Run this cell for more efficient debugging / developing

%load_ext autoreload
%autoreload 2
import sys
sys.path.insert(0, '../sciviewer/')
from sciviewer import SCIViewer

In [5]:
svobj = SCIViewer(umap, expr)
svobj.explore_data()

Selected 522 cells
Calculating correlations...

/Users/dylankotliar/miniconda3/envs/py5coding/lib/python3.8/site-packages/scipy/stats/stats.py:3913: PearsonRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(PearsonRConstantInputWarning())

Selected gene EEF1A1
Min/max expression level for gene EEF1A1 2.3281806 5.788061
Selected mode 2
Selected 666 cells
Calculating differential expression...
Selected gene S100A6
Min/max expression level for gene S100A6 0.0 5.706114
Selected gene PSAP
Min/max expression level for gene PSAP 0.0 4.99935
Selected mode 2
Selected 325 cells
Calculating differential expression...

In [7]:
svobj.significant_genes.head()

               R              P
LYZ    -0.846425  5.858087e-125
LGALS2 -0.771447   3.388540e-90
S100A8 -0.770657   6.654309e-90
S100A9 -0.747734   7.148332e-82
GPX1   -0.679768   1.938162e-62