In [1]:
%load_ext py5
%gui osx

In [2]:
import pandas as pd
import numpy as np
from sciviewer import SCIViewer

In [6]:
print('DOWNLOADING AND EXTRACTING EXAMPLE DATA')
! mkdir -p ../data
! wget https://storage.googleapis.com/sabeti-public/dkotliar/scnavigator/pbmc3k/data/pbmc3k_umap_20210324.tsv -O ../data/pbmc3k_umap_20210324.tsv
! wget https://storage.googleapis.com/sabeti-public/dkotliar/scnavigator/pbmc3k/data/pbmc3k_expression_log2TP10K_20210324.tsv.gz -O ../data/pbmc3k_expression_log2TP10K_20210324.tsv.gz
! gzip -df ../data/pbmc3k_expression_log2TP10K_20210324.tsv.gz
! ls ../data

DOWNLOADING AND EXTRACTING EXAMPLE DATA
--2021-04-19 10:50:37--  https://storage.googleapis.com/sabeti-public/dkotliar/scnavigator/pbmc3k/data/pbmc3k_umap_20210324.tsv
Resolving storage.googleapis.com (storage.googleapis.com)... 172.217.6.240, 172.217.10.240, 172.217.10.16, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|172.217.6.240|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 96413 (94K) [text/tab-separated-values]
Saving to: ‘../data/pbmc3k_umap_20210324.tsv’

../data/pbmc3k_umap 100%[===================>]  94.15K  --.-KB/s    in 0.05s

2021-04-19 10:50:37 (1.84 MB/s) - ‘../data/pbmc3k_umap_20210324.tsv’ saved [96413/96413]

--2021-04-19 10:50:37--  https://storage.googleapis.com/sabeti-public/dkotliar/scnavigator/pbmc3k/data/pbmc3k_expression_log2TP10K_20210324.tsv.gz
Resolving storage.googleapis.com (storage.googleapis.com)... 172.217.6.240, 172.217.10.240, 172.217.10.16, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|172.217.6.240|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3733671 (3.6M) [text/tab-separated-values]
Saving to: ‘../data/pbmc3k_expression_log2TP10K_20210324.tsv.gz’

../data/pbmc3k_expr 100%[===================>]   3.56M  10.7MB/s    in 0.3s

2021-04-19 10:50:38 (10.7 MB/s) - ‘../data/pbmc3k_expression_log2TP10K_20210324.tsv.gz’ saved [3733671/3733671]

pbmc3k_expression_log2TP10K_20210324.tsv
pbmc3k_umap_20210324.tsv

In [3]:
print("LOADING UMAP DATA...")

umap = pd.read_csv('../data/pbmc3k_umap_20210324.tsv', sep='\t', index_col=0)
umap.head()

LOADING UMAP DATA...

                     UMAP_1     UMAP_2
AAACATACAACCAC-1  11.257295  12.561447
AAACATTGAGCTAC-1   7.166475  -2.057729
AAACATTGATCAGC-1  15.217629  12.554446
AAACCGTGCTTCCG-1  -1.826561   6.781221
AAACCGTGTATGCG-1   7.656905  17.598440

In [4]:
print("LOADING GENE EXPRESSION DATA...")

expr = pd.read_csv('../data/pbmc3k_expression_log2TP10K_20210324.tsv', sep='\t', index_col=0)
expr.iloc[:5,:5]

LOADING GENE EXPRESSION DATA...

                  LINC00115  NOC2L  KLHL17  PLEKHN1  HES4
AAACATACAACCAC-1        0.0    0.0     0.0      0.0   0.0
AAACATTGAGCTAC-1        0.0    0.0     0.0      0.0   0.0
AAACATTGATCAGC-1        0.0    0.0     0.0      0.0   0.0
AAACCGTGCTTCCG-1        0.0    0.0     0.0      0.0   0.0
AAACCGTGTATGCG-1        0.0    0.0     0.0      0.0   0.0

In [6]:
svobj = SCIViewer(umap, expr)
svobj.explore_data()

0.0765528678894043 seconds to select and project cells
Selected 526 cells
Calculating correlations...

../sciviewer/sciviewer.py:563: RuntimeWarning: invalid value encountered in true_divide
  rs = np.dot(DP, DO) / np.sqrt(np.sum(DO ** 2, 0) * np.sum(DP ** 2))

1.1528651714324951 seconds to calculate correlations. Sparsity:  False

## The class attributes below get populated in real time and thus can be accessed when the interactive viewer is running

In [8]:
## This attribute get updated in real time whenever cells are selected

svobj.selected_cells.head()

   index         cell_name  projection
0      0  AAACATACAACCAC-1    0.079498
1      4  AAACCGTGTATGCG-1    0.771944
2      6  AAACGCTGACCAGT-1    0.275037
3      7  AAACGCTGGTTCTT-1    0.214253
4      8  AAACGCTGTAGCCA-1    0.196479

In [9]:
## This gets updated in real time when cells are selected in differential expression mode
svobj.results_proj_correlation.head()

                  R         P
LINC00115 -0.004645  0.915352
NOC2L      0.053452  0.221003
KLHL17     0.053389  0.221548
PLEKHN1    0.027167  0.534134
HES4       0.057122  0.190866

0.06090807914733887 seconds to select and project cells
Selected 343 cells
Calculating differential expression...
0.022533178329467773 seconds to calculate genesums. Sparsity:  False
0.34513401985168457 seconds to calculate squared genesums. Sparsity:  False

../sciviewer/sciviewer.py:522: RuntimeWarning: invalid value encountered in sqrt
  remainder_stds = np.sqrt((self.gene_sqsum - selected_stds - (remainder_N*remainder_means**2)) / (remainder_N -1))

1.312014102935791 seconds to calculate differential expression. Sparsity:  False

In [11]:
## This gets updated in real time when cells are selected in directional correlation mode
svobj.results_diffexpr.head()

                  T         P
LINC00115  0.587919  0.556917
NOC2L      1.403902  0.161092
KLHL17    -0.259110  0.795651
PLEKHN1   -2.635037  0.008470
HES4      -4.881080  0.000001

0.07551074028015137 seconds to select and project cells
Selected 525 cells
Calculating correlations...

../sciviewer/sciviewer.py:563: RuntimeWarning: invalid value encountered in true_divide
  rs = np.dot(DP, DO) / np.sqrt(np.sum(DO ** 2, 0) * np.sum(DP ** 2))

1.277630090713501 seconds to calculate correlations. Sparsity:  False

In [12]:
svobj.results_proj_correlation.head()

                  R         P
LINC00115 -0.004961  0.909711
NOC2L      0.052584  0.229047
KLHL17     0.053361  0.222230
PLEKHN1    0.027010  0.536898
HES4       0.057113  0.191360

## The class attributes below only get populated when the export and close button is pushed

In [18]:
svobj.significant_genes.head()

               R              P
GZMB    0.874089  3.996016e-166
GNLY    0.779129  3.731490e-108
FGFBP2  0.755538   3.926686e-98
PRF1    0.733799   7.355188e-90
NKG7    0.721800   1.236486e-85

In [17]:
svobj.significant_genes.tail()

               R             P
IL7R   -0.458064  1.359945e-28
GZMK   -0.464188  2.056784e-29
LTB    -0.573685  2.822993e-47
CD3D   -0.592153  5.402196e-51
EEF1A1 -0.617950  1.314918e-56

In [15]:
svobj.selected_gene_cell_data.head()

              index      proj       exp
0  AAACATACAACCAC-1  0.077073  0.000000
1  AAACCGTGTATGCG-1  0.755663  0.000000
2  AAACGCTGACCAGT-1  0.268625  0.000000
3  AAACGCTGGTTCTT-1  0.209041  2.205804
4  AAACGCTGTAGCCA-1  0.191950  0.000000